<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Menu</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<div th:replace="fragments/header :: header"></div>
<body>
<div class="header">
    Admin menu
</div>

<div class="middle">
    <ul>
        <li><a href="/admin/showHoursViewMenu">View hours entered in the system</a></li>
        <li><a href="/admin/showHoursEditMenu">Edit hours entered in the system</a></li>
        <li><a href="/admin/showUserEditForm">Edit users</a></li>
        <li><a href="/admin/showSalaryCalculationMenu">Calculate salary</a></li>
    </ul>
</div>

<div class="footer"><br>© Katarzyna Matuszewska, Jakub Turek 2019<br></div>

</body>
</html>

