<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calculate Salary</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="header">
    Salary
</div>

<div class="back-to-menu">
    <li><a href="../admin-menu.html" th:href="@{/admin/showAdminMenu}">Admin menu</a></li>
</div>


<div class="middle">
    <h1 class="h1class">
        Please press 'Calculate All' button to calculate salaries for all users or
        <br>select user and press 'Calculate One' to calculate his/her salary
        <br>for selected period of time.
    </h1>
    <hr>

<h1 class="h1class">Calculate salaries for all users for selected period of time:</h1>
<br>
<form action="showSalaryCalculationFormByTime" th:object="${timeFrame}" method="post" class="saveHour">
    Select by date
    from:
    <br>
    <input type="date" th:field="*{dateFrom}" th:errorClass="error"><span th:errors="*{dateFrom}"></span>
    <br>
    to:
    <br>
    <input type="date" th:field="*{dateTo}" th:errorClass="error"><span th:errors="*{dateTo}"></span><br>
    <button>Calculate All</button>
</form>

<hr>
<br>
<h1 class="h1class">Calculate salary for single user for selected period of time:</h1>
<form action="showSalaryCalculationFormByUser" th:object="${timeFrame}" method="post" class="saveHour">
    Select user
    <br>
    <select th:field="*{userId}">
        <option th:each="userEntity : ${usersList}"
                th:value="${userEntity.id}"
                th:utext="${userEntity.firstName} + ' ' + ${userEntity.lastName} "
                />
    </select>
    <br>
    from:
    <br>
    <input type="date" th:field="*{dateFrom}" th:errorClass="error"><span th:errors="*{dateFrom}"></span>
    <br>
    to:
    <br>
    <input type="date" th:field="*{dateTo}" th:errorClass="error"><span th:errors="*{dateTo}"></span><br>
    <button>Calculate One</button>
    <br><br>
</form>
<br><br>
</div>
<div class="footer"><br>© Katarzyna Matuszewska, Jakub Turek 2019<br></div>
</body>
</html>