<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu for viewing entered hours</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<div th:replace="fragments/header :: header"></div>
<body>
<div class="header">
    Please choose user to view hours:
</div>

<div class="back-to-menu">
    <li><a href="../admin-menu.html" th:href="@{/admin/showAdminMenu}">Admin menu</a></li>
</div>

<div class="middle">
    <h1 class="h1class"> Select user</h1>
    <table class="greyGridTable">
        <tr>
            <th>ID</th>
            <th>User ID</th>
            <th>Date</th>
            <th>Hours</th>
        </tr>
        <tr th:each="userEntity : ${userEntries}">
            <td th:text="${userEntity.id}"></td>
            <td th:text="${userEntity.user.id}"></td>
            <td th:text="${userEntity.date}"></td>
            <td th:text="${userEntity.hours}"></td>
        </tr>
    </table>


    <form action="showHoursAll" class="saveHour">
        <button>Show All</button>
    </form>

    <br>
    <hr>
    <br>
    <h1 class="h1class">View hours by user: "dropdown menu"</h1>
    <br>
    <form action="showHoursByUser"  method="post" class="saveHour">
        <select name="userHoursId">
            <option th:each="userEntity : ${usersList}"
                    th:text="${userEntity.id} + ' ' + ${userEntity.firstName} + ' ' + ${userEntity.lastName}"  th:value="${userEntity.id}"/>
        </select>
        <br>
        <button>Show Hours</button>
    </form>
    <br>
    <hr>
    <br>
    <form action="showHoursByDate"  method="post" th:object="${timeFrame}" class="saveHour">
        <h1 class="h1class">Select by date<br></h1>
        from:
        <br>
        <input type="date" th:field="*{dateFrom}" th:errorClass="error"><span th:errors="*{dateFrom}"></span>
        <br>
        to:
        <br>
        <input type="date" th:field="*{dateTo}" th:errorClass="error"><span th:errors="*{dateTo}"></span><br>
        <button>Show hours</button>
    </form>
</div>

<div class="footer"><br>© Katarzyna Matuszewska, Jakub Turek 2019<br></div>
</body>
</html>