<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Entered hours of selected user</title>
</head>
<body>

<table border="1px">
    <tr>
        <th>Id</th>
        <th>userId</th>
        <th>date</th>
        <th>hours</th>
    </tr>
    <tr th:each="userEntity : ${userEntries}">
        <td th:text="${userEntity.id}"></td>
        <td th:text="${userEntity.userId}"></td>
        <td th:text="${userEntity.date}"></td>
        <td th:text="${userEntity.hours}"></td>
    </tr>
</table>

</body>
</html>