<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Hour Entry</title>
</head>
<body>
Editing:
<br>
<div th:text="'User: ' + ${entryToChange.user.firstName} + ' ' + ${entryToChange.user.lastName} + ', Date: ' + ${entryToChange.date} + ' Hours: ' + ${entryToChange.hours}"></div>
<form action="saveHours" method="post">
    <input type="date" name="date">
    <input placeholder="hours" type="text" name="hours">
    <button>Save</button>
    <br><br>
</form>
</body>
</html>