<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu for viewing entered hours</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
<div class="header">
    Please choose user to view hours:
</div>
View hours by user: "dropdown menu"
<br>
<form action="showHoursByUser" method="post" >
    <select name="id">
        <option th:each="userEntity : ${usersList}"
                th:text="${userEntity.id} + ' ' + ${userEntity.firstName} + ' ' + ${userEntity.lastName}"
                th:value="${userEntity.id}">
        <option/>
    </select>
    <br>
    <button>Show Hours</button>
</form>
<br><br>
View hours by week: "dropdown menu"
<div class="footer"><br>© Katarzyna Matuszewska, Jakub Turek 2019<br></div>
</body>
</html>