<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit hours by user</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="header">
    Please choose user to edit his hours:
</div>
<i>"drop-down menu with user list"</i>
<br><br><br>
<table  style="width: 70%" cellpadding="1" border="1px">
    <tbody>
        <tr>
            <td th:each="day : ${daysOfWeek}" th:text="${day}">
            </td>
        </tr>
        <tr>
            <td th:each="day : ${daysOfWeek}" > User hours </td>
        </tr>
    </tbody>
</table>
<br><br>
<input type="date" name="date"/>
<div class="footer"><br>© Katarzyna Matuszewska, Jakub Turek 2019<br></div>
</body>
</html>