<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Entered hours of selected user</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<div th:replace="fragments/header :: header"></div>
<body>
<div class="header">
    Entered hours of selected user
</div>

<div class="back-to-menu">
    <li><a href="../admin-menu.html" th:href="@{/admin/showAdminMenu}">Admin menu</a></li>
</div>


<div class="middle">
<div style="overflow-x:auto">
    <table class="greyGridTable">
    <tr>
        <th>Id</th>
        <th>userId</th>
        <th>date</th>
        <th>hours</th>
    </tr>
    <tr th:each="userEntity : ${userEntries}">
        <td th:text="${userEntity.id}"></td>
        <td th:text="${userEntity.user.id}"></td>
        <td th:text="${userEntity.date}"></td>
        <td th:text="${userEntity.hours}"></td>
    </tr>
</table>
</div>
</div>
<div class="footer"><br>© Katarzyna Matuszewska, Jakub Turek 2019<br></div>
</body>
</html>