<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user menu</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<div th:replace="fragments/header :: header"></div>
<body>
<div class="header">
    Edit user menu
</div>

<div class="back-to-menu">
    <li><a th:href="@{/admin/showAdminMenu}">Admin menu</a></li>
    <li><a th:href="@{#addUser}">Add new user</a></li>
    <li><a th:href="@{#userList}">User list</a></li>
    <li><a th:href="@{#editUser}">Select user to edit</a></li>
</div>


<div class="middle">
    <div>
        <h1 class="h1class" id="addUser">Add new user:</h1>
    </div>
    <div>

        <form action="addUser" method="post" th:object="${user}" class="saveHour">
            <input placeholder="first name" type="text"     th:field="*{firstName}" th:errorClass="error">  <span th:errors="*{firstName}"></span><br>
            <input placeholder="last name"  type="text"     th:field="*{lastName}"  th:errorClass="error">  <span th:errors="*{lastName}"></span><br>
            <input placeholder="rate"       type="number"   th:field="*{rate}"      th:errorClass="error">  <span th:errors="*{rate}"></span><br>
            <select th:field="*{userDepartment}"><br>
                <option value="" th:text="Department"></option>
                <option th:each="ud :${departmentTypes}" th:text="${ud}" th:value="${ud}"></option>
            </select><br>
            <button>Save</button>
        </form>
    </div>

    <br>
    <hr>
    <br>

    <h1 class="h1class" id="userList">Users List:</h1>
    <table class="greyGridTable">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Rate</th>
            <th>Department</th>
        </tr>
        <tr th:each="userEntity : ${usersList}">
            <td th:text="${userEntity.firstName}"></td>
            <td th:text="${userEntity.lastName}"></td>
            <td th:text="${userEntity.rate}"></td>
            <td th:text="${userEntity.userDepartment}"></td>
        </tr>
    </table>

    <br>
    <hr>
    <br>

    <h1 class="h1class" id="editUser">Select user to edit:</h1>
    <form action="editUser" method="post" th:object="${user}" class="saveHour">
        <select th:field="*{id}">
            <option th:each="userEntity2 : ${usersList}"
                    th:text="${userEntity2.firstName} + ' ' + ${userEntity2.LastName} " th:value="${userEntity2.id}"/>
        </select>
        <br>
        <input placeholder="first name" type="text"     th:field="*{firstName}" th:errorClass="error">  <span th:errors="*{firstName}"></span><br>
        <input placeholder="last name"  type="text"     th:field="*{lastName}"  th:errorClass="error">  <span th:errors="*{lastName}"></span><br>
        <input placeholder="rate"       type="number"   th:field="*{rate}"      th:errorClass="error">  <span th:errors="*{rate}"></span><br>
        <select th:field="*{userDepartment}"><br>
            <option value="" th:text="Department"></option>
            <option th:each="ud :${departmentTypes}" th:text="${ud}" th:value="${ud}"></option>
        </select><br>

        <br>
        <button>Edit</button>
    </form>
</div>

<div class="footer"><br>© Katarzyna Matuszewska, Jakub Turek 2019<br></div>
</body>
</html>