<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Calculate Summary</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<div th:replace="fragments/header :: header"></div>
<body>
<div class="header">
    User calculate summary
</div>

<div class="back-to-menu">
    <li><a href="/user/user-menu.html" th:href="@{/user/showUserMenu}">Back to menu</a></li>
</div>

<div class="middle">
    <h1 class="h1class">User Calculate Summary:</h1>
<br>
    <h1 class="h1class">Hours:</h1>
<br>
<span th:text="${user.tempHours}"></span>
<br>
    <h1 class="h1class">Salary:</h1>
<br>
<span th:text="${user.salary} + ' PLN'"></span>
</div>
<div class="footer"><br>© Katarzyna Matuszewska, Jakub Turek 2019<br></div>
</body>
</html>