<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Hours of the user</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<div th:replace="fragments/header :: header"></div>
<body>
<div class="header">
    View hours of the user
</div>

<div class="back-to-menu">
    <li><a href="/user/user-menu.html" th:href="@{/user/showUserMenu}">Back to menu</a></li>
</div>

<div class="middle">

    <table class="greyGridTable">
        <tr>
            <th>Id</th>
            <th>userId</th>
            <th>date</th>
            <th>hours</th>
        </tr>
        <tr th:each="userEntity : ${userEntries}">
            <td th:text="${userEntity.id}"></td>
            <td th:text="${userEntity.user.id}"></td>
            <td th:text="${userEntity.date}"></td>
            <td th:text="${userEntity.hours}"></td>
        </tr>
    </table>

    <br>
    <hr>
    <br>
    <form action="showHoursByDate" method="post" th:object="${timeFrame}" class="saveHour">
        Select by date
        from:
        <br>
        <input type="date" th:field="*{dateFrom}" th:errorClass="error">
        <br>
        to:
        <br>
        <input type="date" th:field="*{dateTo}" th:errorClass="error"><br>
        <button>Show hours</button>
    </form>

</div>
<div class="footer"><br>© Katarzyna Matuszewska, Jakub Turek 2019<br></div>
</body>
</html>