<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form to enter hours </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<div th:replace="fragments/header :: header"></div>
<body>
<div class="header">
    Form to enter hours
</div>

<div class="back-to-menu">
    <li><a href="/user/user-menu.html" th:href="@{/user/showUserMenu}">Back to menu</a></li>
</div>

<div class="middle">
    <h1 class="h1class">Fill form to save hours</h1>
    <br>
<form action="addHours" method="post" th:object="${timeEntry}" class="saveHour">
    <input type="date" th:field="*{date}" th:errorClass="error"><span th:errors="*{date}"></span><br>
    <input placeholder="hours" type="number" th:field="*{hours}" th:errorClass="error"><span th:errors="*{hours}"></span><br>
    <button>Save</button>
    <br><br>
    <div th:text="${message}"></div>
</form>
</div>

<div class="footer"><br>© Katarzyna Matuszewska, Jakub Turek 2019<br></div>
</body>
</html>