<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form to enter hours </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="header">
    Form to enter hours
</div>
Pokazuje formularz do wpisywania godzin usera
<form action="addHours" method="post">
    <input type="date" name="date">
    <input placeholder="hours" type="text" name="tempHours">
    <button>Save</button>
    <br><br>
    <div th:text="${message}"></div>
</form>
<div class="footer"><br>© Katarzyna Matuszewska, Jakub Turek 2019<br></div>
</body>
</html>