<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Menu</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<div th:replace="fragments/header :: header"></div>
<body>
<div class="header">
    User menu
</div>

<div class="middle">
    <ul>
        <li><a href="/user/showEnterHours">Enter Hours</a></li>
        <li><a href="/user/showViewHours">View Hours</a></li>
    </ul>
</div>

<div class="footer"><br>© Katarzyna Matuszewska, Jakub Turek 2019<br></div>
</body>
</html>