<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Calculation Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="header">
    Use calculation form
</div>
<div class="back-to-menu">
    <li><a href="/user/user-menu.html" th:href="@{/user/showUserMenu}">Back to menu</a></li>
</div>

<div class="middle">

<form method="post" action=showUserCalculateSummary th:object="${user}">
    Hours:
    <input type="text" th:field="*{tempHours}"/>
    <br><br>
    <input type="submit" value="Calculate"/>
</form>
</div>
<div class="footer"><br>© Katarzyna Matuszewska, Jakub Turek 2019<br></div>
</body>
</html>